.categories-container {
  margin-top: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::ng-deep .p-chip {
  cursor: pointer;
}

.search-container {
  display: flex;
  margin-top: 0.75rem;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
}

.categories-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.65rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }
}
