<div class="product-card flex items-center justify-center">
    <p-card>
        <ng-template #header>
            <img alt="Card" class="w-full" height="140px"  src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <ng-template #title class="mb-1"> Google Pixel 9 PRO </ng-template>
        <ng-template #subtitle> Electronics and Gadgets </ng-template>
        <span>$1,200.00</span>
        <ng-template #footer>
            <div class="flex gap-4 mt-1 w-full">
                <p-button label="Add to cart" icon="pi pi-shopping-cart" size="small" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
