.detail-container {
  margin: 0px 160px;
  margin-top: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 1.95rem;
}

.product-contents-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4.5rem;
}

.thumbnails {
  margin-top: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.text-contents-container {
  margin-top: 1.5rem;
}

.title {
  font-size: 1.95rem;
  font-weight: 500;
}


.product-quantity-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.subtitle {
  font-size: 0.8rem;
  margin-top: 0.45rem;
  font-weight: 400;
  color: rgb(145, 145, 145);
}

.product-detail-image {
  max-width: 400px;
  border-radius: 0.45rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.detail-text {
  margin: 0.75rem 0rem;
}

/* .product-image-skeleton{
  width: 400px;
  height: 400px;
} */
.main-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.thumbnail-image {
  border-radius: 0.45rem;
  cursor: pointer;
}

.price-text {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(17, 181, 61);
}

.product-price-container,
.product-actions-container {
  margin-top: 1.5rem;
}

.product-actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

@media screen and (max-width: 700px) {
  .detail-container {
    margin: 0.875rem 0.75rem;
  }
}
