.main-app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-app-wrapper > div:first-child {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #ffffff;
}

.main-app-wrapper * {
  width: 100%;
}

.root-area-container {
  display: flex;
  max-width: 90%;
  flex-direction: column;
}
